.skeleton {
  position: relative;
  overflow: hidden;
}

.skeleton__shimmer-element {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: skeleton-shimmer 10s infinite linear;
}

@keyframes skeleton-shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }  
}