.carousel-2__container {
  overflow: hidden;
  position: relative;
}

.carousel-2 {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-2 > * {
  flex: 0 0 100%;
  min-width: 100%;
  max-width: 100%;
}

.carousel-2__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  transition: background-color 0.3s;
} 

.carousel-2__btn:hover {
  background-color: rgb(0, 0, 0, 1);
}

.carousel-2__btn__prev {
  left: 10px;
}

.carousel-2__btn__next {
  right: 10px;
}

.carousel-2__dots__container {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  gap: 6px;
  overflow: auto;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.carousel-2__dots__container::-webkit-scrollbar {
  display: none;
}

.carousel-2__dot {
  width: 7px;
  height: 7px;
  background-color: #bbb;
  border-radius: 10px;
  transition: background-color 0.3s ease, width 0.6s ease;
  flex-shrink: 0;
}

.carousel-2__dot.active {
  background-color: #333;
  width: 15px;
}

.carousel-2__dot:not(.active):hover {
  background-color: #333;
  cursor: pointer;
} 